
@{
    Layout = null;
}
@model 配置文件读取.Book
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Home</title>
</head>
<body>
    <dl>
        <dt>@Model.Name</dt>
        <dd>@Model.Price</dd>
        <dd>@Model.Description</dd>
    </dl>
</body>
</html>
